* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none !important;
}
body { 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #131519;
}
main {
    background-color: #131519;
    width: 100vw;
    /* height: calc(100vh*4); */
    position: relative;
    top: -50px;
    border: 2px solid white;
    align-content: center;
    display: flex;
    flex-direction: column;
}
a { 
    color: white;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
h1 {
    font-size: 90px;
    margin-bottom: 15px;
}
#navbar {
    background: linear-gradient(#0e1c43, #131519);
    box-shadow: rgba(123, 123, 132, 0.098) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    padding: 2vh 3vw;
    align-items: center;
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-links > li {
    padding: 0 25px;
}
.navbar-links > li > a > svg:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}
#section-link {
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    transition-duration: .5s;
    padding: 0 0 0 40px;
}
#section-link:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}
svg {
    width: 3.5rem;
    height: 3.5rem;
    transition-duration: .5s;
}
#welcome-section > p {
    font-size: 20px;
}
#section-links {
    display: flex;
}
#connect-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 60px;
}
#connect-list > li {
    padding: 0 25px;
}
svg.connect-svg {
    width: 6rem;
    height: 6rem;
    transition-duration: .5s;
    border-radius: 25px;
}
#connect-section > h2 {
    font-size: 60px;
    margin: 60px 0px;
}
#stack-section > h2 {
    font-size: 60px;
    margin: 60px 0px;
}
#work-section > h2 {
    font-size: 60px;
    margin: 60px 0px;
}


#connect-list > li > a > svg:hover {
    transform: scale(1.2);
    position: relative;
    transition-duration: .5s;
    box-shadow: rgba(123, 123, 132, 0.335) 0px 7px 29px 0px;
}
.list-skill-stack {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 15px;
}
.list-skill-stack > li {
    padding: 0 10px;
}
.list-skill-stack.last {
    margin-bottom: 75px;
}
#resume {
    background-color: #242938;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    transition-duration: .5s;
}
#resume:hover {
    box-shadow: rgba(123, 123, 132, 0.335) 0px 7px 29px 0px;
    font-size: 25px;
    transition-duration: .5s;
}

#work-pointer {
    /* border: 2px solid white; */
    position: relative;
    top: -100px;
}







/* ------------------------------------------------------------------------------------------------------------------------------------------ */
.slider-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: auto;
}

@media (max-width: 1500px) {
    .slider-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        gap: 2rem;
    }

    
}
@media (max-width: 1024px) {
    .slider-projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        gap: 2rem;
    }
}
@media (max-width: 320px) {

}






.slider-project {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/src/code.jpg);
    background-size:  cover;
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 20px;
    transition-duration: .5s;
    text-align: justify;
    cursor: pointer;
}

.details ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: column;
    list-style: none;
    margin-bottom: 30px;
    gap: 1rem;
}

.details a {
    text-align: center;
    text-decoration: none;
    background-color: #242938;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    transition-duration: .5s;
}
.details a:hover {
    box-shadow: rgba(123, 123, 132, 0.335) 0px 7px 29px 0px;
    transition-duration: .5s;
}

.slider-project h3 {
    font-size: 40px;
    margin-bottom: 15px;
    max-width: 80%;
}

.details h4 {
    font-size: 30px;
    margin-bottom: 15px;
}

.details p {
    font-size: 20px;
    margin-bottom: 15px;
}

.slider-project:hover {
    box-shadow: rgba(65, 65, 71, 0.335) 0px 7px 29px 0px;
    transition-duration: .5s;
    transform: scale(1.03);
}

.details {
    max-width: 100%;
    
}





/* ------------------------------------------------------------------------------------------------------------------------------------------ */


























/* ------------------------------------------------------------------------------------------------------------------------------------------ */
#welcome-section {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    border: 2px solid white;
}

#stack-section {
    width: 60%;
    min-height: 100vh;
    margin: auto;
    border: 2px solid white;
    align-content: center;
    text-align: center;
}

#work-section {
    width: 85%;
    min-height: 90vh;
    margin: 0;

    border: 2px solid white;
    align-content: center;
    text-align: center;
    margin: auto;
}

#connect-section {
    width: 70%;
    min-height: 90vh;
    margin: auto;
    border: 2px solid white;
    align-content: center;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------ */




